- title "Acctypes"

- content_for :main do
  %table
    %tr
      %th Abbr
      %th Name
    - for acctype in @acctypes
      %tr
        %td= h acctype.abbr
        %td= h acctype.name
        %td= link_to 'Show', acctype
        %td= link_to 'Edit', edit_acctype_path(acctype)
        %td= link_to 'Destroy', acctype, :confirm => 'Are you sure?', :method => :delete

- content_for :footer do
  %p= link_to "New Acctype", new_acctype_path
