.bebe
  %table.latex
    %tr
      %th= f.label :sexe
      %th= f.label :poids
      %th= f.label :taille
      %th= f.label :pc, "PC"
      %th= f.label :apgar1, "Apgar (1\')"
      %th= f.label :apgar5, "Apgar (5\')"
      %th= f.label :malformation
      %th= f.label :pathologie
    %tr
      %td= f.select(:sexe, [['Inconnu', 0], ['Garçon', 1], ['Fille', 2]])
      %td= f.text_field :poids, :size => 3
      %td= f.text_field :taille, :size => 1
      %td= f.text_field :pc, :size => 1
      %td= f.text_field :apgar1, :size => 1
      %td= f.text_field :apgar5, :size => 1
      %td= f.select(:malformation, [['Non', 0], ['Oui', 1], ['NSP', 2]])
      %td= f.select(:pathologie, [['Non', 0], ['Oui', 1], ['NSP', 2]])
      - unless f.object.new_record?
        %td
          = f.label :_delete, "Effacer:"
          = f.check_box :_delete
