.fields
  %table
    %tr
      %th Sexe
      %th Poids
      %th Taille
      %th Pc
      %th Apgar (1')
      %th Apgar (5')
      %th Malformation
      %th Pathologie
    %tr
      %td= f.select(:sexe, [['Inconnu', 0], ['Garçon', 1], ['Fille', 2]])
      %td= f.text_field :poids, :size => 3
      %td= f.text_field :taille, :size => 1
      %td= f.text_field :pc, :size => 1
      %td= f.text_field :apgar1, :size => 1
      %td= f.text_field :apgar5, :size => 1
      %td= f.select(:malforme, [['Non', 0], ['Oui', 1]])
      %td= f.select(:pathologie, [['Non', 0], ['Oui', 1]])
      %td= link_to_remove_fields "Détruire ce bébé", f
