%tr{:class => cycle("even", "odd")}
  %td= dossier.date_appel.year
  %td= link_to dossier.n_sicap, dossier
  %td= dossier.short_name
  %td= dossier.patient_age
  %td= dossier.sa
  %td= dossier.profession_name
  %td= dossier.expo_type
  %td= dossier.niveau_name
  %td= truncate(dossier.cat_name, :length => 10)
  %td= dossier.acctype_name
  %td
    - actions(dossier)
