.inputs
  = f.association :acctype, :label => "Type", :as => :radio,
    :collection => Acctype.all, :label_method => :abbr, :input_html => {:tabindex => autotab}
  = f.association :accmod, :label => "Modalité", :as => :radio,
    :collection => Accmod.all, :label_method => :abbr, :input_html => {:tabindex => autotab}
  = f.input :path_mat, :label => "Path. maternelle",
    :collection => Dossier::ONI, :input_html => {:tabindex => autotab}

  .clear
  = f.input :dra, :as => :string, :label => "Date accouchement", :input_html => {:size => "30", :tabindex => autotab}
  .input
    = f.label :terme, "Terme (SA)"
    = f.text_field :terme, :size => "3", :tabindex => autotab
    = button_to_function "Calculer", nil, :id => "calc2"
  = f.input :anomalie_echo, :input_html => {:tabindex => autotab}
  = f.input :rciu, :input_html => {:tabindex => autotab}
  = f.input :comm_evol,
    :hint => "* Compléter le champ malformation dans la section nouveau-né si examen anatomo-pathologique interprétable",
    :input_html => { :size => "40x2", :tabindex => autotab}
