- javascript 'dossier_form_scripts'

- content_for :main do
  %a{ :name => "top" }

  - semantic_form_for @dossier do |f|
    - f.inputs :id => "sicap" do
      %li.select
        = f.label :n_sicap, "Numéro SICAP"
        = f.text_field :n_sicap, :size => "10"
      %li.select
        = f.label :date_appel
        = f.calendar_date_select :date_appel, :valid_date_check => "date <= (new Date()).stripTime()", :size => 10
      = f.input :demandeur, :label => "Demandeur"

      %li.select
        = f.label :correspondant_id, "Correspondant"
        = f.collection_select :correspondant_id, Correspondant.all(:order => "LOWER(name) ASC"), :id, :name
        = link_to "Saisir un nouveau correspondant", new_correspondant_path, :popup => true

    #patient_fields= render 'patient_fields', :f => f

    = render 'grossesse', :f => f

    - f.inputs :name => "Exposition", :id => "infoexpo" do
      = f.input :expo_type, :label => "Type d'exposition", :as => :select, :collection => [["solvants"], ["autres"]]
      = f.input :niveau, :label => "Niveau global d'exposition"

      - f.fields_for :expositions do |exposition|
        = render 'exposition_fields', :f => exposition
      %p= link_to_add_fields 'Rajouter une exposition', f, :expositions

      = f.input :cat, :label => "Conduite à tenir préconisée"
      = f.input :comm_expo, :label => false, :input_html => { :size => "100x4"}

      = render 'evolution', :f => f

      - f.inputs :name => "Nouveaux-nés", :id => "infonn" do
        - f.fields_for :bebes do |bebe|
          = render 'bebe_fields', :f => bebe
        %p= link_to_add_fields 'Rajouter un nouveau-né', f, :bebes
        %p= f.text_area :comm_bebe, :class => "commentaire_100"

      - f.inputs :name => "Commentaire" do
        = f.input :commentaire, :label => false

      = f.buttons :commit
