= content_for :head do
  = javascript_include_tag 'dossier_form'

= content_for :main do
  = simple_form_for dossier do |f|
    = f.error_messages
    #tabs
      %ul
        %li= link_to "Informations", "#informations"
        %li= link_to "Patiente", "#patiente"
        %li= link_to "Grossesse", "#grossesse"
        %li= link_to "Expositions", "#expositions"
        %li= link_to "Evolution", "#evolution"
        %li= link_to "Nouveaux-nés", "#bebe"

      #informations
        .inputs#sicap
          .input.inline
            = f.label :n_sicap, "Numéro SICAP", :accesskey => "N"
            = f.text_field :n_sicap, :size => "10"
            = f.label :date_appel
            = f.text_field :date_appel
          = f.association :demandeur
          = f.input :correspondant_name, :label => "Correspondant"

      #patiente= render 'patient_fields', :f => f

      #grossesse= render 'grossesse', :f => f

      #expositions
        %h2 Exposition
        = f.input :expo_type, :label => "Type",
          :collection => [["solvants"], ["autres"]]
        = f.association :niveau

        = f.fields_for :expositions do |exposition|
          = render 'exposition_fields', :f => exposition
        %p= link_to_add_fields 'Rajouter une exposition', f, :expositions

        = f.association :cat, :label => "CAT"
        = f.input :comm_expo, :label => false, :input_html => { :size => "100x4"}

      #evolution= render 'evolution', :f => f

      #bebe
        %h2 Nouveaux-nés
        .inputs#infonn
          = f.fields_for :bebes do |bebe|
            = render 'bebe_fields', :f => bebe
          %p= link_to_add_fields 'Rajouter un nouveau-né', f, :bebes
        = f.input :comm_bebe, :input_html => {:size => "40x2"}

    .inputs
      = f.input :commentaire, :input_html => {:size => "40x2"}

    .actions
      = f.button :submit, :accesskey => "S"
