= content_for :head do
  = javascript_include_tag 'dossier_form'

= content_for :main do
  = nested_form_for dossier do |f|
    = f.error_messages
    #tabs
      %ul
        %li= link_to "Infos", "#infos", :accesskey => "I"
        %li= link_to "Patiente", "#patiente", :accesskey => "P"
        %li= link_to "Grossesse", "#grossesse", :accesskey => "G"
        %li= link_to "Expos", "#expositions", :accesskey => "X"
        %li= link_to "Évol", "#evolution", :accesskey => "E"
        %li= link_to "Bébés", "#bebes", :accesskey => "B"
        %li= link_to "Commentaire", "#commentaire"

      #infos
        %ol
          %li
            = f.label :n_sicap, "N° SICAP"
            = f.text_field :n_sicap, :tabindex => autotab, :size => "10"
          %li
            = f.label :included, "Inclu?"
            = f.check_box :included, :tabindex => autotab
          %li
            = f.label :date_appel
            = f.text_field :date_appel, :value => date_appel, :size => "30", :tabindex => autotab
          %li
            = f.label :demandeur_id
            = f.collection_select :demandeur_id, Demandeur.all, :id, :name,
              {}, :tabindex => autotab
          %li
            = f.label :correspondant_name, "Correspondant"
            = f.text_field :correspondant_name, :size => "30", :tabindex => autotab

      #patiente= render 'patiente', :f => f

      #grossesse= render 'grossesse', :f => f

      .clear

      #expositions
        %ol
          %li
            = f.label :expo_type, "Type Expo"
            = f.select :expo_type, [["solvants"], ["autres"]], {}, :tabindex => autotab
          %li
            = f.label :niveau_id
            = f.collection_select :niveau_id, Niveau.all, :id, :name, {}, :tabindex => autotab
          %li
            = f.label :cat_id, "CAT"
            = f.collection_select :cat_id, Cat.all, :id, :name, {}, :tabindex => autotab

          = f.fields_for :expositions do |expo_form|
            = render 'exposition_fields', :f => expo_form, :niveaux => @niveaux
          = f.link_to_add 'Rajouter une exposition', :expositions

          %ol
            %li
              = f.text_area :comm_expo, :size => "100x4", :tabindex => autotab

      #evolution= render 'evolution', :f => f, :acctypes => @acctypes, :accmods => @accmods

      #bebes
        %ol.inline.headers
          %li Sexe
          %li Poids
          %li Taille
          %li Pc
          %li Apgar (1')
          %li Apgar (5')
          %li.ten Malformation(s)
          %li.ten Pathologie(s)
        = f.fields_for :bebes do |bebe_form|
          = render 'bebe', :f => bebe_form
        = f.link_to_add 'Rajouter un bébé', :bebes


        %p
          %input{:type => "button", :class => "button",
            :id => "show_malformations_tree", :value => "Arbre des malformations"}
          %input{:type => "button", :class => "button",
            :id => "show_pathologies_tree", :value => "Arbre des pathologies"}
        #malformations.tree
        #pathologies.tree

        .clear

        %ol
          %li
            = f.label :comm_bebe
            = f.text_area :comm_bebe, :size => "40x2", :tabindex => autotab

        - if Rails.env.development?
          #log{:style => "display: none;"}

      #commentaire
        %ol
          %li
            = f.label :commentaire
            = f.text_area :commentaire
    = f.submit#, {:accesskey => "S"}
