<% javascript :defaults, 'delegate' %>

<%= error_messages_for :dossier %>

<% semantic_form_for @dossier do |form| %>

  <% content_for :jstemplates do -%>
    <%= "var exposition='#{generate_template(form, :expositions)}'" %>
    <%= "var bebe='#{generate_template(form, :bebes)}'" %>
  <% end -%>

  <% form.inputs :name => "Info SICAP", :id => "sicap" do %>
    <%= form.input :n_sicap, :label => "Numéro SICAP", :input_html => { :size => '6' } %>
    <%= form.input :date_appel, :as => :string, :start_year => 1998, :input_html => { :size => '6' } %>
  <% end %>
  <% form.inputs :name => "Info patiente", :id => "patiente" do %>
    <%= form.input :nom %>
    <%= form.input :prenom, :label => "Prénom", :required => false %>
    <%= form.input :age, :input_html => { :size => '3' } %>
    <%= form.input :profession, :required => false %>
  <% end %>
  <% form.inputs :name => "Choisir un correspondant", :id => "correspondant" do %>
    <%= form.input :correspondant, :required => false, :label => "Nom" %>
  <% end %>
  <% @dossier.build_correspondant unless @dossier.correspondant %>
  <% form.inputs :name => "Ou saisir un nouveau", :for => :correspondant do |corr_form| %>
    <%= corr_form.input :name, :label => "Nom", :input_html => { :size => '20' } %>
    <%= corr_form.input :specialite, :label => "Specialité" %>
    <%= corr_form.input :qualite, :label => "Qualité" %>
    <%= corr_form.input :adresse, :input_html => { :cols => '15', :rows => '4' } %>
    <%= corr_form.input :cp, :input_html => { :size => '3' } %>
    <%= corr_form.input :ville, :input_html => { :size => '10' }%><br />
    <%= corr_form.input :tel, :input_html => { :size => '10' } %>
    <%= corr_form.input :fax, :input_html => { :size => '10' } %>
    <%= corr_form.input :poste, :input_html => { :size => '4' } %>
    <%= corr_form.input :email %>
  <% end %>
  <% form.inputs :name => "Antécédents / facteurs de risque", :id => "info_atcd" do %>
    <%= form.input :af, :label => "Atcds familiaux", :as => :radio %>
    <%= form.input :comm_af, :input_html => { :size => '40x5'} %><br />
    <%= form.input :ap, :label => "Atcds personnels", :as => :radio %>
    <%= form.input :comm_ap, :input_html => { :size => '40x5'} %>
    <table>
      <tr>
        <td id="right">
          <%= form.label :af_id, "Antécédents familiaux" %><br />
          <%= form.label :af_id, "Oui" %>
          <%= form.radio_button( "af_id", "0" ) %><br />
          <%= form.label :af_id, "Non" %>
          <%= form.radio_button( "af_id", "1") %><br />
          <%= form.label :af_id, "Inconnu" %>
          <%= form.radio_button( "af_id", "2") %><br />
        </td>
        <td>
          <%= form.text_area :comm_af, :size => "40x5"%>
        </td>
        <td>
          <%= form.label :tabac, "Tabac (cigarettes/j)"%><br />
          <%= form.radio_button( "tabac", "0") %>
          <%= form.label :tabac, "0" %><br />
          <%= form.radio_button( "tabac", "1") %>
          <%= form.label :tabac, "0 à 5" %>
          <%= form.radio_button( "tabac", "2") %>
          <%= form.label :tabac, "5 à 10" %>
          <%= form.radio_button( "tabac", "3") %>
          <%= form.label :tabac, "Sup. à 10" %><br />
          <%= form.radio_button( "tabac", "4") %>
          <%= form.label :tabac, "Inconnu" %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :ap_id, "Antécédents personnels"%><br />
          <%= form.label :ap_id, "Oui" %>
          <%= form.radio_button( "ap_id", "0")%><br />
          <%= form.label :ap_id, "Non" %>
          <%= form.radio_button( "ap_id", "1")%><br />
          <%= form.label :ap_id, "Inconnu" %>
          <%= form.radio_button( "ap_id", "2")%><br />
        </td>
        <td>
          <%= form.text_area :comm_ap, :size => "40x5" %>
        </td>
        <td>
          <%= form.label :alcool, "Alcool (verres/j)"%><br />
          <%= form.radio_button( "alcool", "0") %>
          <%= form.label :alcool, "0" %><br />
          <%= form.radio_button( "alcool", "1") %>
          <%= form.label :alcool, "\<= 2" %><br />
          <%= form.radio_button( "alcool", "2") %>
          <%= form.label :alcool, "\> 2" %><br />
          <%= form.radio_button( "alcool", "3") %>
          <%= form.label :alcool, "Inconnu" %>
        </td>
      </tr>
    </table>
  <% end %>
  <% form.inputs :name => "Info Grossesse", :id => "info_grs" do %>
    <table class="goleft">
      <tr>
        <th colspan="2">
          Grossesses antérieures : <%= @dossier.grsant rescue "0" %>
        </th>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :fcs %>
          <%= form.text_field :fcs, :size => "1"%>
        </td>
        <td id="right">
          <%= form.label :geu %>
          <%= form.text_field :geu, :size => "1"%>
        </td>
      </tr>
      <tr>
      <td id="right">
        <%= form.label :miu %>
          <%= form.text_field :miu, :size => "1" %>
        </td>
        <td id="right">
          <%= form.label :ivg %>
          <%= form.text_field :ivg, :size => "1" %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :img %>
          <%= form.text_field :img, :size => "1" %>
        </td>
        <td id="right">
          <%= form.label :nai %>
          <%= form.text_field :nai, :size => "1" %>
        </td>
      </tr>
    </table>
    <table class="goleft" style="margin-left:1em">
      <tr>
        <td id="right">
          <%= form.label :sa, "Terme : " %>
        </td>
        <td>
          <%= form.text_field :sa, :size => "1" %>
          SA
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :dg, "Debut de grossesse : " %>
        </td>
        <td>
          <%= form.text_field :dg_string, :size => 15 %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :dap, "Accouchement prévu : " %>
        </td>
        <td>
          <%= form.date_select :dap, :order => [:day, :month, :year], :prompt => true %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :ddr,  "DDR : " %>
        </td>
        <td>
          <%= form.date_select :ddr, :order => [:day, :month, :year], :prompt => true %>
        </td>
      </tr>
    </table>
    <p class="goleft">
      <%= form.label :assmedproc_id, "Assistance médicale à la procréation" %><br />
      <%= form.radio_button( "assmedproc_id", "0") %>
      <%= form.label :assmedproc_id, "Oui" %><br />
      <%= form.radio_button( "assmedproc_id", "1") %>
      <%= form.label :assmedproc_id, "Non" %><br />
      <%= form.radio_button( "assmedproc_id", "2") %>
      <%= form.label :assmedproc_id, "Ne sait pas" %><br />
    </p>
  </div>
  <% end %>
  <% form.inputs :name => "Expositions", :id => "infoexpo" do %>
    <p>
      <%= form.label "Niveau global d'exposition : " %>
      <%= form.collection_select(:niveau_id, Niveau.all, :id, :name) %>
    </p>
    <div id="expositions">
      <% form.fields_for :expositions do |expo_form| %>
        <%= render :partial => 'exposition', :locals => { :f => expo_form } %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Rajouter une exposition', '#exposition', :class => "add_nested_item", :rel => "expositions" %>
    </p>
    <p>
      <%= form.text_area :comm_expo, :class => "commentaire_100" %>
    </p>
  </div>
  <h3>Évolution</h3>
  <div id="infoevol">
    <div class="goleft">
      <table class="evol">
        <tr>
          <th colspan="2">
            Type
          </th>
        </tr>
        <% Acctype.all.in_groups_of(2, false) do |row_at| %>
          <tr>
            <% for acctype in row_at %>
              <td>
                <%= form.radio_button "acctype_id", acctype.id %>
                <%= form.label :acctype_id, "#{acctype.abbrev}" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="goleft" style="margin-left:1em">
      <table class="evol">
        <tr>
          <th>
            Modalité
          </th>
        </tr>
        <% Accmod.all.each do |am| %>
          <tr>
            <td>
              <%= form.radio_button "accmod_id", am.id %>
              <%= form.label :accmod_id, am.abbr %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="goleft" style="margin-left:1em">
      <table class="evol">
        <tr>
          <th>
            Pathologie maternelle
          </th>
        </tr>
        <tr>
          <td>
            <%= form.radio_button "path_mat", "0" %>
            <%= form.label :path_mat, "Oui" %>
          </td>
        </tr>
        <tr>
          <td>
            <%= form.radio_button "path_mat", "1" %>
            <%= form.label :path_mat, "Non" %>
          </td>
        </tr>
        <tr>
          <td>
          <%= form.radio_button "path_mat", "2" %>
          <%= form.label :path_mat, "inconnu" %>
          </td>
        </tr>
      </table>
    </div>
    <p class="clear" style="margin-top:1em">
      <%= form.label :terme, "Terme (SA)" %>
      <%= form.text_field :terme, :size => 1 %>
      <%= form.label :dra, "Date d'accouchement" %>
      <%= form.date_select :dra, :start_year => 1998, :order => [:day, :month, :year], :prompt => true %>
    </p>
    <p>
      <%= form.text_area :comm_evol, :class => "commentaire_100" %>
      * Compléter le champ malformation dans la section nouveau-né si examen anatomo-pathologique interprétable
    </p>
  </div>
  <h3>Nouveaux-nés</h3>
  <div id="infonn">
    <div id="bebes">
      <% form.fields_for :bebes do |bebe_form| %>
        <%= render :partial => 'bebe', :locals => { :f => bebe_form} %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Rajouter un nouveau-né', '#bebe', :class => "add_nested_item", :rel => "bebes" %>
    </p>
    <p>
      <%= form.text_area :comm_bebe, :class => "commentaire_100" %>
    </p>
  </div>
  <h3>Commentaire</h3>
  <p>
    <%= form.text_area :commentaire, :class => "commentaire_100" %>
  </p>
<% end %>
  <%= form.buttons :commit %>
<% end %>
