<% javascript :defaults, 'delegate' %>

<a name="top"></a>

<% semantic_form_for @dossier do |form| %>

  <% content_for :jstemplates do -%>
    <%= "var exposition='#{generate_template(form, :expositions)}'" %>
    <%= "var bebe='#{generate_template(form, :bebes)}'" %>
  <% end -%>

  <% form.inputs :id => "sicap" do %>
    <%= form.input :n_sicap, :label => "Numéro SICAP", :input_html => { :size => '6' } %>
    <%= form.input :date_appel, :as => :date, :start_year => 1995 %>
    <%= form.input :demandeur, :label => "Demandeur" %>
  <% end %>
  <% form.inputs :name => "Données de la patiente", :id => "patiente" do %>
    <%= form.input :nom %>
    <%= form.input :prenom, :label => "Prénom" %>
    <%= form.input :age, :input_html => { :size => '3' } %>
    <%= form.input :profession, :include_blank => false %>
  <% end %>
  <% form.inputs :name => "Correspondant" do %>
    <%= form.input :correspondant, :label => "Nom", :hint => "Choisir dans la liste ou saisir un nouveau correspondant en suivant le lien ci dessous" %>
  <% end %>
  <p>
    <%= link_to "Saisir un nouveau correspondant", new_correspondant_path, :popup => true %>
  </p>
  <p>
    <%= link_to "Patiente", "#top" %>
  </p>

  <a name="atcds"></a>
  <% form.inputs :name => "Antécédents / facteurs de risque", :id => "info_atcd" do %>
    <%= form.input :af, :as => :radio, :label => "Atcds familiaux", :collection => [["Oui", "0"], ["Non", "1"], ["Inconnu", "2"]] %>
    <%= form.input :comm_af, :input_html => { :size => '40x2'} %><br />
    <%= form.input :ap, :as => :radio, :label => "Atcds personnels", :collection => [["Oui", "0"], ["Non", "1"], ["Inconnu", "2"]] %>
    <%= form.input :comm_ap, :input_html => { :size => '40x2'} %>
    <%= form.input :tabac, :as => :radio, :label => "Tabac (cig/j)", :collection => [["0", "0"], ["0 à 5", "1"], ["5 à 10", "2"], ["Sup. à 10", "3"], ["Inconnu", "4"]] %>
    <%= form.input :alcool, :as => :radio, :label => "Alcool (verres/j)", :collection => [["0", "0"], ["<= 2", "1"], ["> 2", "2"], ["Inconnu", "3"]] %>
  <% end %>

  <a name="grs"></a>
  <% form.inputs :name => "Info Grossesse", :id => "info_grs" do %>
    <table class="goleft">
      <tr>
        <th colspan="2">
          Grossesses antérieures : <%= @dossier.grsant rescue "0" %>
        </th>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :fcs %>
          <%= form.text_field :fcs, :size => "1"%>
        </td>
        <td id="right">
          <%= form.label :geu %>
          <%= form.text_field :geu, :size => "1"%>
        </td>
      </tr>
      <tr>
      <td id="right">
        <%= form.label :miu %>
          <%= form.text_field :miu, :size => "1" %>
        </td>
        <td id="right">
          <%= form.label :ivg %>
          <%= form.text_field :ivg, :size => "1" %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :img %>
          <%= form.text_field :img, :size => "1" %>
        </td>
        <td id="right">
          <%= form.label :nai %>
          <%= form.text_field :nai, :size => "1" %>
        </td>
      </tr>
    </table>
    <table class="goleft" style="margin-left:1em">
      <tr>
        <td id="right">
          <%= form.label :sa, "Terme : " %>
        </td>
        <td>
          <%= form.text_field :sa, :size => "1" %>
          SA
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :dg, "Debut de grossesse : " %>
        </td>
        <td>
          <%= form.text_field :dg_string, :size => 15 %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :dap, "Accouchement prévu : " %>
        </td>
        <td>
          <%= form.date_select :dap, :order => [:day, :month, :year], :prompt => true %>
        </td>
      </tr>
      <tr>
        <td id="right">
          <%= form.label :ddr,  "DDR : " %>
        </td>
        <td>
          <%= form.date_select :ddr, :order => [:day, :month, :year], :prompt => true %>
        </td>
      </tr>
    </table>
    <p class="goleft">
      <%= form.label :assmedproc, "Assistance médicale à la procréation" %><br />
      <%= form.radio_button( "assmedproc", "0") %>
      <%= form.label :assmedproc, "Oui" %><br />
      <%= form.radio_button( "assmedproc", "1") %>
      <%= form.label :assmedproc, "Non" %><br />
      <%= form.radio_button( "assmedproc", "2") %>
      <%= form.label :assmedproc, "Ne sait pas" %><br />
    </p>
  <% end %>

  <%= link_to "Patiente", "#top" %> | <%= link_to "Antécédents", "#atcds" %>

  <a name="expo"></a>
  <% form.inputs :name => "Exposition", :id => "infoexpo" do %>
    <%= form.input :niveau, :label => "Niveau global d'exposition" %>
    <div id="expositions">
      <% form.fields_for :expositions do |expo_form| %>
        <%= render :partial => 'exposition', :locals => { :f => expo_form } %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Rajouter une exposition', '#exposition', :class => "add_nested_item", :rel => "expositions" %>
    </p>
    <%= form.input :cat, :label => "Conduite à tenir préconisée" %>
    <%= form.input :comm_expo, :label => false, :input_html => { :size => "100x4"} %>
  <% end %>

  <a name="evol"></a>
  <% form.inputs :name => "Évolution", :id => "evolution" do %>
    <div id="infoevol">
      <div class="goleft">
        <table class="evol">
          <tr>
            <th colspan="2">
              Type
            </th>
          </tr>
          <% Acctype.all.in_groups_of(2, false) do |row_at| %>
            <tr>
              <% for acctype in row_at %>
                <td>
                  <%= form.radio_button "acctype_id", acctype.id %>
                  <%= form.label :acctype_id, "#{acctype.abbrev}" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="goleft" style="margin-left:1em">
        <table class="evol">
          <tr>
            <th>
              Modalité
            </th>
          </tr>
          <% Accmod.all.each do |am| %>
            <tr>
              <td>
                <%= form.radio_button "accmod_id", am.id %>
                <%= form.label :accmod_id, am.abbr %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="goleft" style="margin-left:1em">
        <table class="evol">
          <tr>
            <th>
              Pathologie maternelle
            </th>
          </tr>
          <tr>
            <td>
              <%= form.radio_button "path_mat", "0" %>
              <%= form.label :path_mat, "Oui" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= form.radio_button "path_mat", "1" %>
              <%= form.label :path_mat, "Non" %>
            </td>
          </tr>
          <tr>
            <td>
            <%= form.radio_button "path_mat", "2" %>
            <%= form.label :path_mat, "inconnu" %>
            </td>
          </tr>
        </table>
      </div>
    <div class="clear" style="margin-top:1em">
      <%= form.label :terme, "Terme (SA)" %>
      <%= form.text_field :terme, :size => 1 %>
      <%= form.label :dra, "Date d'accouchement" %>
      <%= form.date_select :dra, :start_year => 1998, :order => [:day, :month, :year], :prompt => true %>
    </div>
    <p>
      <%= form.text_area :comm_evol, :class => "commentaire_100" %>
      * Compléter le champ malformation dans la section nouveau-né si examen anatomo-pathologique interprétable
    </p>
  <% end %>

  <%= link_to "Patiente", "#top" %> | <%= link_to "Antécédents", "#atcds" %>

  <a name="nn"></a>
  <% form.inputs :name => "Nouveaux-nés" do %>
    <div id="infonn">
      <div id="bebes">
        <% form.fields_for :bebes do |bebe_form| %>
          <%= render :partial => 'bebe', :locals => { :f => bebe_form} %>
        <% end %>
      </div>
      <p>
        <%= link_to 'Rajouter un nouveau-né', '#bebe', :class => "add_nested_item", :rel => "bebes" %>
      </p>
      <p>
        <%= form.text_area :comm_bebe, :class => "commentaire_100" %>
      </p>
    </div>
  <% end %>
  <% form.inputs :name => "Commentaire" do %>
    <%= form.input :commentaire, :label => false %>
  <% end %>
  <%= link_to "Patiente", "#top" %> | 
  <%= link_to "Antécédents", "#atcds" %> | 
  <%= link_to "Grossesse", "#grs" %> | 
  <%= link_to "Exposition", "#expo" %> | 
  <%= link_to "Evolution", "#evol" %>
  <%= form.buttons :commit %>
<% end %>
