- f.inputs :id => "info_grs" do
  %table.goleft
    %tr
      %th#right{ :colspan => "3"}
        Grossesses antérieures :
      %td
        = @dossier.grsant rescue "0"
      %th
      %td
    %tr
      %th#right
        = f.label :fcs
      %td
        = f.text_field :fcs, :size => "1"
      %th#right
        = f.label :geu
      %td
        = f.text_field :geu, :size => "1"
    %tr
      %th#right
        = f.label :miu
      %td
        = f.text_field :miu, :size => "1"
      %th#right
        = f.label :ivg
      %td
        = f.text_field :ivg, :size => "1"
    %tr
      %th#right
        = f.label :img
      %td
        = f.text_field :img, :size => "1"
      %th#right
        = f.label :nai
      %td
        = f.text_field :nai, :size => "1"
  %table.goleft{ :style => "margin-left:1em" }
    %tr
      %td &nbsp;
      %td
        = button_to_function "Calculer", nil, :id => "calc"
        = button_to_function "Effacer", nil, :id => "reset"
    %tr
      %td#right
        = f.label :sa, "Âge de la grossesse : "
      %td
        = f.text_field :sa, :size => "1"
        SA
    %tr
      %td#right
        = f.label :ddr,  "DDR : "
      %td
        = f.calendar_date_select :ddr, :size => 10
    %tr
      %td#right
        = f.label :dg, "Debut de grossesse : "
      %td
        = f.calendar_date_select :dg, :popup => :force, :size => 10
    %tr
      %td#right
        = f.label :dap, "Accouchement prévu : "
      %td
        = f.calendar_date_select :dap, :popup => :force, :size => 10
  %p.goleft
    = f.label :assmedproc, "Assistance médicale à la procréation"
    %br
    = f.radio_button( "assmedproc", "0")
    = f.label :assmedproc, "Oui"
    %br
    = f.radio_button( "assmedproc", "1")
    = f.label :assmedproc, "Non"
    %br
    = f.radio_button( "assmedproc", "2")
    = f.label :assmedproc, "Ne sait pas"
