.inputs
  = f.input :nom, :input_html => {:tabindex => autotab}
  = f.input :prenom, :label => "Prénom", :input_html => {:tabindex => autotab}
  = f.input :age, :label => "Âge", :input_html => {:size => "3", :tabindex => autotab}
  = f.input :date_naissance, :as => :string, :input_html => {:size => "30", :tabindex => autotab}
  .clear
  = f.association :profession, :input_html => {:tabindex => autotab}

  = f.input :af, :label => "Atcds familiaux", :collection => Dossier::ONI,
    :input_html => {:tabindex => autotab}
  = f.input :comm_af, :input_html => {:size => "67", :tabindex => autotab}
  = f.input :ap, :label => "Atcds personnels", :collection => Dossier::ONI,
    :input_html => {:tabindex => autotab}
  = f.input :comm_ap, :input_html => {:size => "67", :tabindex => autotab}
  = f.input :tabac, :collection => Dossier::TABAC, :hint => "cigarettes par jour", :input_html => {:tabindex => autotab}
  = f.input :alcool, :collection => Dossier::ALCOOL, :hint => "verres par jour", :input_html => {:tabindex => autotab}
