%h2 Données de la patiente
.inputs#patiente
  .input.inline
    = f.label "Nom/Prénom"
    = f.text_field :nom
    = f.text_field :prenom
  .input.inline
    = f.label :age, "Âge"
    = f.text_field :age, :size => "3"
    %strong Ou date de naissance :
    = f.text_field :date_naissance
  = f.association :profession, :include_blank => false

.inputs#info_atcd
  .input.inline
    = f.label :af, "Atcds familiaux"
    = f.select :af, Dossier::ONI
    = f.text_field :comm_af, :size => "67"
  .input.inline
    = f.label :ap, "Atcds personnels"
    = f.select :ap, Dossier::ONI
    = f.text_field :comm_ap, :size => "67"
  .input.inline
    = f.label "Tabac/Alcool"
    = f.select :tabac, Dossier::TABAC
    = f.select :alcool, Dossier::ALCOOL
    .hint cigarettes/verres par jour
