= simple_form_for search do |f|
  .inputs
    = f.input :included_equals, :label => "Inclu?", :collection => [["Oui", 1], ["Non", 0]], :input_html => {:include_blank => true}
    = f.input :nom_contains, :label => "Nom patiente"
    = f.input :commentaire_contains, :label => "Mot(s) dans les commentaire"
    = f.input :date_appel_gte, :as => :date, :label => "De l'année", 
      :start_year => 1995, :end_year => Time.now.year, :discard_day => true, :discard_month => true, :include_blank => true
    = f.input :date_appel_lte, :as => :date, :label => "A l'année",
      :start_year => 1995, :end_year => Time.now.year, :discard_day => true, :discard_month => true, :include_blank => true
    = f.input :profession_id_equals, :label => "Profession", :collection => professions, :input_html => {:include_blank => true}
    = f.input :correspondant_specialite_id_equals, :label => "Correspondant (spécialité)", :collection => specialites, :input_html => {:include_blank => true}
    = f.input :produits_id_equals, :label => "Produits", :collection => produits, :input_html => {:include_blank => true}
    = f.input :expo_type_equals, :label => "Type Exposition", :collection => %w[solvants autres], :input_html => {:include_blank => true}
    = f.input :niveau_id_equals, :label => "Niveaux", :collection => niveaux, :input_html => {:include_blank => true}
    = f.input :acctype_id_equals, :label => "Evolution", :collection => acctypes, :input_html => {:include_blank => true}
    = f.input :is_malforme, :label => "Malformation", :collection => [["Non", ""], ["Oui", 1]], :input_html => {:include_blank => true}
    = f.submit "Rechercher", :name => nil
