- title "Rechercher des dossiers"

- content_for :main do
  = render 'search_form', :search => @search

  %hr/

  = pagination_results @dossiers
  %table#dossiers.collapse
    %tr
      %th= order @search, :by => :date_appel, :as => 'Année'
      %th= order @search, :by => :n_sicap, :as => 'Dossier'
      %th= order @search, :by => :nom, :as => 'Patiente'
      %th= order @search, :by => :age, :as => 'Âge'
      %th= order @search, :by => :sa, :as => 'SA'
      %th= order @search, :by => :profession_name, :as => 'Profession'
      %th Exposition
      %th= order @search, :by => :niveau_name, :as => 'Niveau'
      %th CAT préconisée
      %th Evolution
    = render :partial => @dossiers
  = will_paginate @dossiers
