- title ( "Liste des dossiers (" + h( @dossiers.count.to_s ) + ")" )
%a{ :name => "top" }
%p= link_to "Retour à l'accueil", root_path
%h2 Filtrer
- form_for @search do |f|
  - years_dates = (1995..2009).map { |y| [y.to_s, "Jan 01, #{y}"]}
  = f.label "De l'année : "
  = f.select :date_appel_after, years_dates, { :include_blank => true}
  %br
  = f.label "A l'année : "
  = f.select :date_appel_before, years_dates, { :include_blank => true}
  %br
  = f.label "Nom patiente : "
  = f.text_field :nom_like
  %br
  = f.label "Mot(s) dans les commentaires : "
  = f.text_field :commentaire_like
  %br
  = f.label "Profession"
  = f.collection_select :profession_id_equals, Profession.all, :id, :name, :include_blank => true
  %br
  = f.label "Correspondant (spécialité)"
  = f.collection_select :correspondant_specialite_id_equals, Specialite.all, :id, :name, :include_blank => true
  %br
  = f.label "Produits : "
  = f.collection_select :produits_id_equals, Produit.all, :id, :name, :include_blank => true
  %br
  = f.label "Type Exposition : "
  = f.select :expo_type_equals, %w[solvants autres], {:include_blank => true}
  %br
  = f.label "Niveau : "
  = f.collection_select :niveau_id_equals, Niveau.all, :id, :name, :include_blank => true
  %br
  = f.label "Evolution : "
  = f.collection_select :acctype_id_equals, Acctype.all, :id, :name, :include_blank => true
  %br
  = f.submit "Rechercher", :name => nil

- unless params[:search].blank?
  %table#dossiers.collapse
    %tr
      %th= order @search, :by => :date_appel, :as => 'Année'
      %th= order @search, :by => :n_sicap, :as => 'Dossier'
      %th= order @search, :by => :nom, :as => 'Patiente'
      %th= order @search, :by => :profession_name, :as => 'Profession'
      %th Exposition
      %th Niveau
      %th CAT préconisée
      %th Evolution
    = render :partial => @dossiers

%p= link_to 'Nouveau dossier', new_dossier_path
%a{ :href => "#top" }
  Remonter
