- title "Rechercher des dossiers"

- content_for :main do
  = render 'search_form', :search => @search

  %hr/

  = pagination_results @dossiers
  %table#dossiers.collapse
    %tr
      %th= sort_link @search, :date_appel, 'Année'
      %th= sort_link @search, :n_sicap, 'Dossier'
      %th= sort_link @search, :nom, 'Patiente'
      %th= sort_link @search, :age, 'Âge'
      %th= sort_link @search, :sa, 'SA'
      %th= sort_link @search, :profession_name, 'Profession'
      %th Exposition
      %th= sort_link @search, :niveau_name, 'Niveau'
      %th CAT préconisée
      %th Evolution
    = render @dossiers
  = will_paginate @dossiers
