- title ( "Dossier " + @dossier.n_sicap.to_s)

- content_for :main do
  %p= link_to 'Modifier', edit_dossier_path(@dossier), :accesskey => "M"
  %p#time
    Inclusion :
    = l @dossier.date_appel
  #infoperso
    %table
      %tr
        %th#right= "Patiente : "
        %td
          = @dossier.short_name
        %th#right
          Age :
        %td
          = @dossier.patient_age
      %tr
        %th#right
          Profession :
        %td
          = @dossier.profession_name rescue "Non renseignée"
  - unless @dossier.correspondant_id.nil?
    %table
      %tr
        %th#right
          Correspondant :
        %td
          = @dossier.correspondant_name
          %br
          = @dossier.correspondant_specialite_name
          \&nbsp;
          = @dossier.correspondant_qualite_name
          %br
          = @dossier.correspondant_adresse
          %br
          = @dossier.correspondant_cp
          \&nbsp;
          = @dossier.correspondant_ville

  %p
    %strong
      Demandeur :
    = @dossier.demandeur_name
  %h3 Antécédents/facteurs de risque
  #infoatcd
    %p
      Antécédents personnels :
      = @dossier.atcdp
    %p
      Antécédents familiaux :
      = @dossier.atcdf
    %p
      Tabac :
      = @dossier.cigarettes
    %p
      Alcool :
      = @dossier.boisson
  %h3 Grossesse
  #infogrs
    %p
      Terme à l'inclusion :
      = @dossier.sa
      SA
    %p
      Gestité :
      = @dossier.gestite_in_words
      %br
      = "Parité : P#{@dossier.nai}"
  %h3 Exposition
  #infoexpo
    %p
      Type d'exposition:
      = @dossier.try(:expo_type)
    %p
      Niveau global d'exposition :
      = @dossier.niveau_name
    %p
      Conduite à tenir préconisée :
      = @dossier.cat_name
    %table.latex
      %tr
        %th
          Nom du produit
        %th
          Niveau
      - @dossier.expositions.each do |expo|
        %tr
          %td
            = expo.produit.name
          %td
            = expo.niveau.name

    - unless @dossier.comm_expo.blank?
      = raw textilize @dossier.comm_expo

  %h3 Evolution
  #infoevol
    %p
      = @dossier.evolution
    %p
      = "Anomalies échographiques : #{@dossier.anomalie_echo}"
    %p
      = "Retard de croissance in utero : #{@dossier.rciu}"
    - unless @dossier.comm_evol.blank?
      = raw textilize @dossier.comm_evol

  - unless @dossier.bebes.empty?
    %h3
      Nouveaux-nés (
      = @dossier.bebes.count
      )
    #infonn
      %table.latex
        %tr
          %th Sexe
          %th Poids
          %th Taille
          %th PC
          %th Apgar (1')
          %th Apgar (5')
          %th Malformation(s)
          %th Pathologie(s)
        - @dossier.bebes.each do |bebe|
          %tr
            %td= bebe.sex
            %td= bebe.poids
            %td= bebe.taille
            %td= bebe.pc
            %td= bebe.apgar1
            %td= bebe.apgar5
            %td
              - if bebe.malformations.empty?
                Non
              - else
                %ol{:style => "list-style: none;"}
                  - bebe.malformations.each do |m|
                    %li= m.libelle
            %td= bebe.path

      - unless @dossier.comm_bebe.blank?
        = raw textilize @dossier.comm_bebe

  - unless @dossier.commentaire.blank?
    %h3 Commentaire
    = raw textilize @dossier.commentaire
