<% title ( "Dossier " + h( @dossier.n_sicap.to_s )) %>

<p>
  <%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
  <%= link_to "Retour à l'accueil", root_path %> | <%= link_to "Saisir un nouveau dossier", new_dossier_path %>
</p>

<p id="time">Inclusion : <%= l @dossier.date_appel, :format => :jjmmaaaa %></p>

<div id="infoperso">
  <table>
    <tr>
      <th id="right">Patiente : </th>
      <td><%= h @dossier.short_name %></td>
      <th id="right">Age : </th>
      <td><%= h @dossier.age %></td>
    </tr>
    <tr>
      <th id="right">
        Profession :
      </th>
      <td>
        <%= h @dossier.profession.name rescue "Non renseign\ée" %>
      </td>
    </tr>
  </table>
</div>
<% unless @dossier.correspondant_id.nil? %>
  <table>
    <tr>
      <th id="right">
        Correspondant :
      </th>
      <td>
        <%= h @dossier.correspondant.name %><br />
        <%= h @dossier.correspondant.specialite.name %>&nbsp;
        <%= h @dossier.correspondant.qualite.name %><br />
        <%= h @dossier.correspondant.adresse %><br />
        <%= h @dossier.correspondant.cp %>&nbsp;
        <%= h @dossier.correspondant.ville %>
      </td>
    </tr>
  </table>
<% end %>
<p>
  <strong>Demandeur :</strong> <%= h @dossier.demandeur.name rescue "Non renseigné" %>
</p>

<h3>Antécédents/facteurs de risque</h3>
<div id="infoatcd">
  <p>Antécédents personnels : <%= h @dossier.atcdp %></p>
  <p>Antécédents familiaux : <%= h @dossier.atcdf %></p>
  <p>Tabac : <%= h @dossier.cigarettes %></p>
  <p>Alcool : <%= h @dossier.boisson %></p>
</div>

<h3>Grossesse</h3>
<div id="infogrs">
  <p>
    Terme à l'inclusion : <%= @dossier.sa %> SA
  </p>
  <p>
    Gestité : <%= @dossier.gestite_in_words %><br /> 
    Parité : P<%= @dossier.nai %>
  </p>
</div>

<h3>Exposition</h3>
<div id="infoexpo">
  <p>Niveau global d'exposition : <%= @dossier.niveau.name %></p>
  <p>Conduite à tenir préconisée : <%= @dossier.cat.name rescue "Non renseignée" %></p>
  <table class="latex">
    <tr>
      <th>Nom du produit</th>
      <th>Niveau</th>
    </tr>
    <% @dossier.expositions.each do |expo| %>
      <tr>
        <td><%= h expo.produit.name %></td>
        <td><%= h expo.niveau.name %></td>
      </tr>
    <% end %>
  </table>
  <% unless @dossier.comm_expo.blank? %>
    <p class="commentaire">
      <%= h @dossier.comm_expo %>
    </p>
  <% end %>
</div>

<h3>Evolution</h3>
<div id="infoevol">
  <p>
    <%= h @dossier.evolution %>
  </p>
  
  <table>
    <tr>
      <td>
        <%= h @dossier.date_acc %>
      </td>
    </tr>
  </table>
  <% unless @dossier.comm_evol.blank? %>
    <p class="commentaire">
      <%= h @dossier.comm_evol %>
    </p>
  <% end %>
</div>

<% unless @dossier.bebes.empty? %>
  <h3>Nouveaux-nés ( <%= @dossier.bebes.count %> )</h3>
  <div id="infonn">
    <table class="latex">
      <tr>
        <th>Sexe</th>
        <th>Poids</th>
        <th>Taille</th>
        <th>PC</th>
        <th>Apgar (1')</th>
        <th>Apgar (5')</th>
        <th>Malformation</th>
        <th>Pathologie</th>
      </tr>
    <% @dossier.bebes.each do |bebe| %>
      <tr>
        <td><%= h bebe.sex %></td>
        <td><%= h bebe.poids %></td>
        <td><%= h bebe.taille %></td>
        <td><%= h bebe.pc %></td>
        <td><%= h bebe.apgar1 %></td>
        <td><%= h bebe.apgar5 %></td>
        <td><%= h bebe.malf %></td>
        <td><%= h bebe.path%></td>
      </tr>
    <% end %>
  </table>
  <% unless @dossier.comm_bebe.blank? %>
    <p class="commentaire">
      <%= h @dossier.comm_bebe %>
    </p>
  <% end %> 
</div>
<% end %>

<% unless @dossier.commentaire.blank? %>
  <h3>Commentaire</h3>
  <p class="commentaire">
    <%= h @dossier.commentaire %>
  </p>
<% end %>

<p>
  <%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
  <%= link_to "Retour \à la liste", dossiers_path %>
</p>
