- title "Dossier " + @dossier.n_sicap.to_s

- content_for :main do
  %p= link_to 'Modifier', edit_dossier_path(@dossier), :accesskey => "M"
  - if @dossier.included == 1
    %p#time
      Inclusion :
      = l @dossier.date_appel
  - else
    %p Dossier exclu
  %p
    %strong
      Demandeur :
    = @dossier.demandeur_name
  #infoperso
    %p
      %strong Patiente :
      = @dossier.short_name
    %p
      %strong Age :
      = @dossier.patient_age
    %p
      %strong Profession :
      = @dossier.profession_name rescue "Non renseignée"
  - unless @dossier.correspondant_id.nil?
    %p
      %strong Correspondant :
      = link_to @dossier.correspondant_name, correspondant_path(@dossier.correspondant)
      = "(#{@dossier.correspondant_specialite_name}, #{@dossier.correspondant_qualite_name})"
  %h3 Antécédents/facteurs de risque
  #infoatcd
    %p
      %strong Antécédents personnels :
      = atcds(@dossier, "ap")
    %p
      %strong Antécédents familiaux :
      = atcds(@dossier, "af")
    %p
      %strong Tabac :
      = cigarettes(@dossier)
    %p
      %strong Alcool :
      = boisson(@dossier)
  %h3 Grossesse
  #infogrs
    %p
      %strong Terme à l'inclusion :
      = @dossier.sa
      SA
    %p= gestite_in_words(@dossier)
    %p= "Parité : P#{@dossier.nai}"
  %h3 Exposition
  #infoexpo
    %p
      %strong Type d'exposition:
      = @dossier.expo_type
    %p
      %strong Niveau global d'exposition :
      = @dossier.niveau_name
    %p
      %strong Conduite à tenir préconisée :
      = @dossier.cat_name
    %table.latex
      %tr
        %th
          Nom du produit
        %th
          Niveau
      - @dossier.expositions.each do |expo|
        %tr
          %td
            = expo.produit_name
          %td
            = expo.niveau_name

    - unless @dossier.comm_expo.blank?
      = raw textilize @dossier.comm_expo

  %h3 Evolution
  #infoevol
    %p= evolution(@dossier)
    %p
      Anomalies échographiques :
      = @dossier.anomalie_echo? ? "Oui" : "Non"
    %p
      Retard de croissance in utero :
      = @dossier.rciu? ? "Oui": "Non"
    - unless @dossier.comm_evol.blank?
      = raw textilize @dossier.comm_evol

  - unless @dossier.bebes.empty?
    %h3= "Nouveaux-nés (#{@dossier.bebes.count})"
    #infonn
      %table.latex
        %tr
          %th Sexe
          %th Poids
          %th Taille
          %th PC
          %th Apgar (1')
          %th Apgar (5')
          %th Malformation(s)
          %th Pathologie(s)
        - @dossier.bebes.each do |bebe|
          %tr
            %td= bebe.sex
            %td= bebe.poids
            %td= bebe.taille
            %td= bebe.pc
            %td= bebe.apgar1
            %td= bebe.apgar5
            %td
              - if bebe.malformations.empty?
                Non
              - else
                %ol{:style => "list-style: none;"}
                  - bebe.malformations.each do |m|
                    %li= m.libelle
            %td= bebe.path

      - unless @dossier.comm_bebe.blank?
        = raw textilize @dossier.comm_bebe

  - unless @dossier.commentaire.blank?
    %h3 Commentaire
    = raw textilize @dossier.commentaire
