- title ( "Dossier " + h( @dossier.n_sicap.to_s ))

- content_for :main do
  %p= link_to 'Modifier', edit_dossier_path(@dossier), :accesskey => "M"
  %p#time
    Inclusion :
    = l @dossier.date_appel
  #infoperso
    %table
      %tr
        %th#right= "Patiente : "
        %td
          = h @dossier.short_name
        %th#right
          Age :
        %td
          = h @dossier.age
      %tr
        %th#right
          Profession :
        %td
          = h @dossier.profession_name rescue "Non renseignée"
  - unless @dossier.correspondant_id.nil?
    %table
      %tr
        %th#right
          Correspondant :
        %td
          = h @dossier.correspondant_name
          %br
          = h @dossier.correspondant_specialite_name
          \&nbsp;
          = h @dossier.correspondant_qualite_name
          %br
          = h @dossier.correspondant_adresse
          %br
          = h @dossier.correspondant_cp
          \&nbsp;
          = h @dossier.correspondant_ville

  %p
    %strong
      Demandeur :
    = h @dossier.demandeur_name
  %h3
    Antécédents/facteurs de risque
  #infoatcd
    %p
      Antécédents personnels :
      = h @dossier.atcdp
    %p
      Antécédents familiaux :
      = h @dossier.atcdf
    %p
      Tabac :
      = h @dossier.cigarettes
    %p
      Alcool :
      = h @dossier.boisson
  %h3
    Grossesse
  #infogrs
    %p
      Terme à l'inclusion :
      = @dossier.sa
      SA
    %p
      Gestité :
      = @dossier.gestite_in_words
      %br
      = "Parité : P#{@dossier.nai}"
  %h3
    Exposition
  #infoexpo
    %p
      Type d'exposition:
      = @dossier.try(:expo_type)
    %p
      Niveau global d'exposition :
      = @dossier.niveau_name
    %p
      Conduite à tenir préconisée :
      = @dossier.cat_name
    %table.latex
      %tr
        %th
          Nom du produit
        %th
          Niveau
      - @dossier.expositions.each do |expo|
        %tr
          %td
            = h expo.produit.name
          %td
            = h expo.niveau.name

    - unless @dossier.comm_expo.blank?
      %p.commentaire
        = h @dossier.comm_expo

  %h3
    Evolution
  #infoevol
    %p
      = h @dossier.evolution
    %p
      = "Anomalies échographiques : #{@dossier.anomalie_echo}"
    %p
      = "Retard de croissance in utero : #{@dossier.rciu}"
    - unless @dossier.comm_evol.blank?
      %p.commentaire
        = h @dossier.comm_evol

  - unless @dossier.bebes.empty?
    %h3
      Nouveaux-nés (
      = @dossier.bebes.count
      )
    #infonn
      %table.latex
        %tr
          %th Sexe
          %th Poids
          %th Taille
          %th PC
          %th Apgar (1')
          %th Apgar (5')
          %th Malformation
          %th Pathologie
        - @dossier.bebes.each do |bebe|
          %tr
            %td= h bebe.sex
            %td= h bebe.poids
            %td= h bebe.taille
            %td= h bebe.pc
            %td= h bebe.apgar1
            %td= h bebe.apgar5
            %td= h bebe.malf
            %td= h bebe.path

      - unless @dossier.comm_bebe.blank?
        %p.commentaire
          = h @dossier.comm_bebe

  - unless @dossier.commentaire.blank?
    %h3
      Commentaire
    %p.commentaire
      = h @dossier.commentaire
