= simple_form_for correspondant do |f|
  .inputs
    = f.input :name, :label => "Nom"
    = f.input :sexe, :collection => Correspondant::SEXES
    = f.association :specialite, :label => "Specialité"
    = f.association :qualite, :label => "Qualité"
    = f.input :adresse, :as => :string
    = f.input :cp
    = f.input :ville
    = f.input :tel
    = f.input :fax
    = f.input :poste
    = f.input :email
  .buttons
    = f.button :submit
