- title "Correspondants"

- content_for :main do
  = form_for @search, :class => "search" do |f|
    %ol.formList
      %li
        = f.label "Recherche par nom"
        = f.text_field :name_like
        = f.submit "Rechercher", :name => nil

  - if params[:search]
    - if @correspondants.any?
        %hr
        %table.collapse
          %tr
            %th Nom
            %th Specialité
            %th Qualité
            %th Ville
          - @correspondants.each do |correspondant|
            %tr
              %td= link_to correspondant.name, correspondant
              %td= correspondant.specialite_name
              %td= correspondant.qualite_name
              %td= correspondant.ville
              %td= link_to "Modifier", edit_correspondant_path(correspondant)
              %td= link_to "Détruire", correspondant, :confirm => 'Etes-vous sur ?', :method => :delete

        = paginate @correspondants
    - else
      %p Aucun résultat

- content_for :footer do
  %p= link_to "Nouveau Correspondant", new_correspondant_path
