- title "Correspondants"

- content_for :main do
  %table
    %tr
      %th Nom
      %th Specialité
      %th Qualité
      %th Ville
    - for correspondant in @correspondants
      %tr
        %td= link_to h(correspondant.name), correspondant
        %td= h correspondant.specialite.name rescue "Non renseignée"
        %td= h correspondant.qualite.name rescue "Non renseignée"
        %td= h correspondant.ville
        %td= link_to "Edit", edit_correspondant_path(correspondant)

  %p= will_paginate @correspondants, :previous_label => "<--", :next_label => "-->"

- content_for :footer do
  %p= link_to "New Correspondant", new_correspondant_path
