<% title "Correspondants" %>

<table>
  <tr>
    <th>Nom</th>
    <th>Specialité</th>
    <th>Qualité</th>
    <th>Ville</th>
  </tr>
  <% for correspondant in @correspondants %>
    <tr>
      <td><%=link_to h(correspondant.name), correspondant %></td>
      <td><%=h correspondant.specialite.name rescue "Non renseignée" %></td>
      <td><%=h correspondant.qualite.name rescue "Non renseignée"%></td>
      <td><%=h correspondant.ville %></td>
      <td><%= link_to "Edit", edit_correspondant_path(correspondant) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Correspondant", new_correspondant_path %></p>
