<% title @correspondant.name %>

<p>
  <b>Qualité : </b><%= @correspondant.qualite.name %>
</p>
<p>
  <b>Specialité : </b><%= @correspondant.specialite.name %>
</p>
<p>
  <b>Adresse : </b>
  <%= @correspondant.adresse %>
  <%= @correspondant.cp %>
  <%= @correspondant.ville %>
</p>
<p>
  <b>Téléphone : </b>
  <%= @correspondant.tel %>
</p>


<h4>Dossiers de ce correspondant :</h4>
<% @correspondant.dossiers.each do |d| %>
  <p>
    <%= link_to d.n_sicap, d %>
  </p>
<% end %>

<p>
  <%= link_to "Retour à l'accueil", root_path %> | <%= link_to "Liste des correspondants", correspondants_path %>
</p>
