- title @correspondant.name


- content_for :main do
  %p=link_to "Modifier", edit_correspondant_path(@correspondant)
  %p
    %b Sexe :
    = @correspondant.lesexe
  %p
    %b Qualité :
    = @correspondant.qualite_name
  %p
    %b Specialité :
    = @correspondant.specialite_name
  %p
    %b Adresse :
    = @correspondant.adresse
    = @correspondant.cp
    = @correspondant.ville
  %p
    %b Téléphone :
    = @correspondant.tel
  %h4 Dossiers de ce correspondant :
  %ul
    - @correspondant.dossiers.each do |d|
      %li= link_to d.n_sicap, d

  %p= link_to "Detruire", @correspondant, :confirm => 'Etes-vous sûr ?', :method => :delete
