- form_for @malformation do |f|
  = f.error_messages
  %p
    = f.label :code_terme
    %br
    = f.text_field :code_terme
  %p
    = f.label :code_terme_pere
    %br
    = f.text_field :code_terme_pere
  %p
    = f.label :libabr
    %br
    = f.text_field :libabr
  %p
    = f.label :level
    %br
    = f.text_field :level
  %p
    = f.label :libelle
    %br
    = f.text_field :libelle
  %p
    = f.submit
