= simple_form_for malformation do |f|
  = f.error_messages
  .inputs
    = f.input :libabr
    = f.input :libelle
    = f.input :parent_id, :collection => Malformation.all, :label_method => :libelle, :value_method => :id
  .actions
    = f.button :submit
