- title "Edit Malformation: #{@malformation.libabr}"

= content_for :main do
  = render 'form', :malformation => @malformation

  %p
    = link_to "Show", malformation_path(@malformation)
    |
    = link_to "View All", malformations_path
