- title "Niveaux"

- content_for :main do
  %table
    %tr
      %th
      %th Solvants
      %th Autres
      %th Total
      %th
      %th
    - @niveaux.each do |niveau|
      %tr
        %td= link_to niveau.name, niveau
        %td= niveau.dossiers.solvants.size
        %td= niveau.dossiers.autres.size
        %td= niveau.dossiers.size
        %td= link_to 'Edit', edit_niveau_path(niveau)
        %td= link_to 'Destroy', niveau, :confirm => 'Are you sure?', :method => :delete
    %tr
      %th Total
      %td= Dossier.solvants.count
      %td= Dossier.autres.count
      %td= Dossier.count

  %p= link_to "New Niveau", new_niveau_path
