- title 'Bilan - Conduites à tenir'

- content_for :main do
  %table.stats
    = render "header", :solv_count => @solv_count, :autres_count => @autres_count, :count => @count
    - @cats.each do |cat|
      %tr
        %th= cat.name
        %td= cat.dossiers.solvants.size
        %td= cat.dossiers.size - cat.dossiers.solvants.size
        %td= cat.dossiers.size
    %tr
      %th Non saisie
      %td= @no_cat_solvants.size
      %td= @no_cat_autres.size
      %td= @no_cat.size
