= content_for :main do
  %h2= link_to "Données Générales", "/bilan/donnees_generales"
  %h2= link_to "Conduites à tenir", "/bilan/cat"
  %h2= link_to "Issues par groupe", "/bilan/issues"
  %h2= link_to "Cas par niveau", "/bilan/niveaux"
  %h2= link_to "Issues par niveau", "/bilan/stratification"
