- title 'Bilan - Niveaux'

- content_for :main do
  %table.stats
    = render :partial => 'header'
    - @niveaux.each do |niveau|
      - unless niveau.name == "NE"
        %tr
          %th= niveau.name
          %td= niveau.dossiers.solvants.size
          %td= niveau.dossiers.size - niveau.dossiers.solvants.size
          %td= niveau.dossiers.size
