<h1>Listing produits</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @produits.each do |produit| %>
  <tr>
    <td><%=h produit.name %></td>
    <td><%= link_to 'Show', produit %></td>
    <td><%= link_to 'Edit', edit_produit_path(produit) %></td>
    <td><%= link_to 'Destroy', produit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New produit', new_produit_path %>