%li
  %a{:href => "/", :class => "anchorclass",
      :rel => "submenu1"} Thesaurus

.anylinkcss#submenu1
  %ul
    %li= link_to "Professions", professions_path
    %li= link_to "Accmods", accmods_path
    %li= link_to "Acctypes", acctypes_path
    %li= link_to "Cats", cats_path
    %li= link_to "Demandeurs", demandeurs_path
    %li= link_to "Niveaux", niveaux_path
    %li= link_to "Qualités", qualites_path
    %li= link_to "Spécialités", specialites_path
