%li= link_to "Bilan", "#", :class => "anchorclass", :rel => "bilan_menu"

.anylinkcss#bilan_menu
  %ul
    %li= link_to "Données Générales", "/bilan/donnees_generales"
    %li= link_to "Issues par groupe", "/bilan/issues"
    %li= link_to "Cas par niveau", "/bilan/niveaux"
    %li= link_to "Issues par niveau", "/bilan/stratification"
