<% title 'Bilan/statistiques' %>
<h3>Données générales</h3>
<p>
  Dossier plus récent : <%= link_to h(@last.n_sicap), dossier_path(@last) %>, du <%= @last.date_appel.to_s(:date_appel) %>
</p> 

<h3>Exposition</h3>
<table class="latex">
  <tr>
    <th>&nbsp;</th>
    <th>
      Groupe Solvants<br />
      n = <%= @solvants.count %>
    </th>
    <th>
      Groupe Produits divers<br />
      n = <%= @autres_nr %>
    </th>
    <th>
      Total<br />
      n = <%= @dossiers.count %>
    </th>
  </tr>
  <tr>
    <th>
      Âge moyenne <br />
      de la mère
    </th>
    <td>
      <%= @solvage_moyen %>
      (<%= @solvage_sd %>)
    </td>
    <td>
      <%= @autres_age_moyen %>
    </td>
    <td>
      <%= @age_moyen %>
      (<%= @age_sd %>)
    </td>
  </tr>
  <tr>
    <th>
     Âge < 35 ans
    </th>
    <td><%= @solvage_lt35 %></td>
    <td><%= @age_lt35 - @solvage_lt35 %></td>
    <td><%= @age_lt35 %></td>
  </tr>
  <tr>
    <th>
      P1G1
    </th>
    <td><%= @solv_p1g1 %></td>
    <td><%= @p1g1 - @solv_p1g1 %></td>
    <td><%= @p1g1 %></td>
  </tr>
  <% @niveaux.each do |n| %>
    <tr>
      <th style="text-align: right;">
        <%= n.name %>
      </th>
      <td>
        <%= n.dossiers.solvants.count %>
      </td>
      <td>
        <%= n.dossiers.count - n.dossiers.solvants.count %>
      </td>
      <td>
        <%= n.dossiers.count %>
      </td>
    </tr>
  <% end %>
</table><h3>Évolution</h3>
<table class="latex">
  <tr>
    <th>&nbsp;</th>
    <th>
      Groupe Solvants<br />
      n = <%= @solvants.count %>
    </th>
    <th>
      Groupe Produits divers<br />
      n = <%= @autres_nr %>
    </th>
    <th>
      Total<br />
      n = <%= @dossiers.count %>
    </th>
  </tr>
  <% @evolutions.each do |e| %>
    <tr>
      <th><%= e.abbr %></th>
      <td><%= e.dossiers.solvants.count %></td>
      <td></td>
      <td><%= e.dossiers.count %></td>
    </tr>
  <% end %>
</table>
<h3>Enfants</h3>
<p>
  Nombre total d'enfants : <%= @bebes.count %> 
</p>
<h3>Épidémiologie</h3>
<p>
</p>
