<% title 'Bilan/statistiques' %>

<h3>Données générales</h3>
<table class="latex" id="don_gen">
  <tr>
    <th>&nbsp;</th>
    <%#TODO refactorare la tabella con un loop%>
    <th class="center">Groupe<br />
      Solvants<br />
      n = <%= @solvants.count %></th>
    <th class="center">Groupe<br />
      Produits divers<br />
      n = <%= @autres_count %></th>
    <th class="center">Total<br />
      n = <%= @dossiers.count %></th>
  </tr>
  <tr>
    <th>Âge</th>
    <td><%= @solvage_moyen %> (<%= @solvage_sd %>)</td>
    <td><%= @autres_age_moyen %> (<%= @autres_age_sd %>)</td>
    <td><%= @age_moyen %> (<%= @age_sd %>)</td>
  </tr>
  <tr>
    <th>&lt; 35 ans</th>
    <td><%= @solvage_lt35 %></td>
    <td><%= @autres_age_lt35 %></td>
    <td><%= @age_lt35 %></td>
  </tr>
  <tr>
    <th>P1G1</th>
    <td><%= @solv_p1g1 %></td>
    <td><%= @autres_p1g1 %></td>
    <td><%= @p1g1 %></td>
  </tr>
  <tr>
    <th>Parité</th>
    <td><%= @solv_parite %> (<%= @solv_parite_sd %>)</td>
    <td><%= @autres_parite %> (<%= @autres_parite_sd %>)</td>
    <td><%= @parite %> (<%= @parite_sd %>)</td>
  </tr>
  <tr>
    <th>Gestité</th>
    <td><%= @solv_gestite %> (<%= @solv_gestite_sd %>)</td>
    <td><%= @autres_gestite %> (<%= @autres_gestite_sd %>)</td>
    <td><%= @gestite %> (<%= @gestite_sd %>)</td>
  </tr>
  <tr>
    <th>FCS</th>
    <td><%= @solvants.sum(:fcs) %></td>
    <td><%= @autres.sum(:fcs) %></td>
    <td><%= Dossier.sum(:fcs) %></td>
  </tr>
  <tr>
    <th>IVG</th>
    <td><%= @solvants.sum(:ivg) %></td>
    <td><%= @autres.sum(:ivg) %></td>
    <td><%= Dossier.sum(:ivg) %></td>
  </tr>
  <tr>
    <th>ITG</th>
    <td><%= @solvants.sum(:img) %></td>
    <td><%= @autres.sum(:img) %></td>
    <td><%= Dossier.sum(:img) %></td>
  </tr>
  <tr>
    <th>MIU</th>
    <td><%= @solvants.sum(:miu) %></td>
    <td><%= @autres.sum(:miu) %></td>
    <td><%= Dossier.sum(:miu) %></td>
  </tr>
  <tr>
    <th>GEU</th>
    <td><%= @solvants.sum(:geu) %></td>
    <td><%= @autres.sum(:geu) %></td>
    <td><%= Dossier.sum(:geu) %></td>
  </tr>
  <%#TODO aggiungere atcds tabac alcool%>
  <tr>
    <th>SA</th>
    <td><%= @solvsa_moyen %> (<%= @solvsa_sd %>)</td>
    <td><%= @autres_sa_moyen %> (<%= @autres_sa_sd %>)</td>
    <td><%= @sa_moyen %> (<%= @sa_sd %>)</td>
  </tr>
</table>

<h3>Exposition/Niveaux</h3>
<table class="latex">
  <tr>
    <th>&nbsp;</th>
    <th class="center">Groupe<br />
      Solvants<br />
      n = <%= @solvants.count %></th>
    <th class="center">Groupe<br />
      Produits divers<br />
      n = <%= @autres_count %></th>
    <th class="center">Total<br />
      n = <%= @dossiers.count %></th>
  </tr>
  <% @niveaux.each do |n| %>
    <% unless n.id == 0 %>
      <tr>
        <th style="text-align: right;"><%= h n.name %></th>
        <td><%= n.dossiers.solvants.count %></td>
        <td><%= n.dossiers.count - n.dossiers.solvants.count %></td>
        <td><%= n.dossiers.count %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<%#TODO aggiungere CAT préconisées%>
<h3>Issues</h3>
<table class="latex">
  <tr>
    <th class="center">&nbsp;</th>
    <th class="center">Groupe<br />
      Solvants<br />
      n = <%= @solvants.count %></th>
    <th class="center">Groupe<br />Produits divers<br />
      n = <%= @autres_count %></th>
    <th class="center">Total<br />
      n = <%= @dossiers.count %></th>
  </tr>
  <% @evolutions.each do |e| %>
    <tr>
      <th><%= e.abbr %></th>
      <td><%= e.dossiers.solvants.count %></td>
      <td><%= e.dossiers.count - e.dossiers.solvants.count %></td>
      <td><%= e.dossiers.count %></td>
    </tr>
  <% end %>
  <th>Enfants</th>
  <td><%= Bebe.dossier_solvants.count %></td>
  <td><%= @bebes.count - Bebe.dossier_solvants.count %></td>
  <td><%= @bebes.count %></td>
</table>
<h3>Stratification Niveaux/Issues</h3>
<h4>Groupe Solvants</h4>
<table>
  <tr>
    <td>
      <table class="latex">
        <tr>
          <th>&nbsp;</th>
          <th class="center">Naissances</th>
          <th class="center">FCS+MIU</th>
          <th class="center">Total</th>
        </tr>
        <% @niveaux.each do |n| %>
          <% unless n.id == 0 %>
            <tr>
                <th style="text-align: right;"><%= n.name %></th>
              <td><%= n.dossiers.solvants.naissances.count %></td>
              <td><%= n.dossiers.solvants.fausses_couches.count %></td>
              <td><%= n.dossiers.solvants.count %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th style="text-align: right;">Total</th>
          <td><%= @solvants.naissances.count %></td>
          <td><%= @solvants.fausses_couches.count %></td>
          <td><%= @solvants.count %></td>
        </tr>
      </table>
    </td>
    <td>&nbsp;</td>
    <td>
      <table class="latex">
        <tr>
          <th>&nbsp;</th>
          <th class="center">Normaux</th>
          <th class="center">Malformés</th>
          <th class="center">Total</th>
        </tr>
        <% @niveaux.each do |n| %>
          <% unless n.id == 0 %>
            <tr>
              <th style="text-align: right;"><%= n.name %></th>
              <td><%= Bebe.normaux.dossier_niveau_id_is(n.id).dossier_solvants.count %></td>
              <td><%= Bebe.malformes.dossier_niveau_id_is(n.id).dossier_solvants.count %></td>
              <td><%= Bebe.dossier_niveau_id_is(n.id).dossier_solvants.count %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <th style="text-align: right;">Total</th>
          <td><%= Bebe.normaux.dossier_solvants.count %></td>
          <td><%= Bebe.malformes.dossier_solvants.count %></td>
          <td><%= Bebe.dossier_solvants.count %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
