<% title "TeraTox - Accueil" %>

<h2>Que voulez-vous faire ?</h2>
<h3>Saisir :</h3>
<ul>
  <li><%= link_to "Un nouveau dossier", new_dossier_path %></li>
  <li><%= link_to "Une évolution", evoluer_dossiers_path %></li>
  <li><%= link_to "Un nouveau produit", new_produit_path %></li>
</ul>
<h3>Afficher :</h3>
<ul>
  <li><%= link_to "Tous les dossiers", dossiers_path %></li>
  <li>
    <% form_tag search_dossiers_path :method =>'get' do %>
      Un dossier par son numéro SICAP :
      <%= text_field_tag :n_sicap, :maxlength => 9, :size => 7 %>
      <%= submit_tag  "Rechercher", :name => nil %>
    <% end -%>
  </li> 
</ul>
<h3>Rechercher :</h3>
<p>Dossiers satisfaisant un ou plusieurs critères</p>

<% form_for(Search.new) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :produit_id, 'Exposition' %><br />
    <%= f.collection_select(:produit_id, Produit.all, :id, :name, :include_blank => true) %>
  </p>
  <p>
    <%= f.label :min_date %><br />
    <%= f.date_select :min_date, :start_year => 1995, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :max_date %><br />
    <%= f.date_select :max_date, :order => [:day, :month, :year] %>
  </p>
  <p>
    <%= f.label :acctype_id, 'Évolution' %><br />
    <%= f.collection_select(:acctype_id, @evolutions, :id, :name, :include_blank => true ) %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
<h3>Statistiques :</h3>
<h4>Données générales</h4>
<p>
  Dossier plus récent : <%= link_to h(@last.n_sicap), dossier_path(@last) %>, du <%= @last.date_appel.to_s(:date_appel) %>
</p> 
<h4>Exposition</h4>
<p>
  <strong><%= @dossiers.count %></strong> dossiers, dont <strong><%= @solvants.count %></strong> exposés aux solvants.
</p>
<h4>Évolution</h4>
<table>
  <% @evolutions.each do |e| %>
    <tr>
      <td><%= e.name %></td>
      <td id="right"><%= e.dossiers.count %></td>
    </tr>
  <% end %>
</table>
<h4>Enfants</h4>
<p>
  Nombre total d'enfants : <%= @bebes.count %> 
</p>
<h4>Épidémiologie</h4>
<p>
  Âge moyenne : <%= Dossier.average('age').round(1) %> ans.
</p>
