<% title "Search" %>

  <p><%= link_to "Retour à l'accueil", root_path %></p>
<p><%= @search.dossiers.count %> dossiers correspondant au critères :</p>
<ul>
  <li>Interval de temps : <%= h @search.min_date.strftime('%d/%m/%Y') %> - <%= h @search.max_date.strftime('%d/%m/%Y') %></li>
  <li>Exposition : <%= h Produit.find(@search.produit_id).name unless @search.produit_id.blank? %></li>
  <li>Evolution : <%= h Acctype.find(@search.acctype_id).name unless @search.acctype_id.blank? %></li>
</ul>

<table class="latex">
  <tr>
    <th>Année</th>
    <th>Dossier</th>
    <th>Patiente</th>
    <th>Exposition</th>
    <th>Evolution</th>
  </tr>
  <%= render :partial => @search.dossiers.sort_by(&:date_appel).reverse %>
</table>
