- title "Qualites"

- content_for :main do
  %table
    %tr
      %th Name
    - for qualite in @qualites
      %tr
        %td= qualite.name
        %td= link_to 'Show', qualite
        %td= link_to 'Edit', edit_qualite_path(qualite)
        %td= link_to 'Destroy', qualite, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Qualite", new_qualite_path
