- title "Specialites"

- content_for :main do
  %table
    %tr
      %th Name
    - for specialite in @specialites
      %tr
        %td= h specialite.name
        %td= link_to 'Show', specialite
        %td= link_to 'Edit', edit_specialite_path(specialite)
        %td= link_to 'Destroy', specialite, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Specialite", new_specialite_path
