!!! 5
%html
  %head
    %title= yield(:title || "Untitled")
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    = csrf_meta_tag
    = stylesheet_link_tag :all #'application', 'formtastic', 'formtastic_changes', 'anylinkcssmenu', :cache => 'base'
    = javascript_include_tag :defaults, :cache => true
    %script{:type => "text/javascript",
            :src => "/javascripts/anylinkcssmenu.js"}
      /***********************************************
      * AnyLink CSS Menu script v2.0- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
      * This notice MUST stay intact for legal use
      * Visit Project Page at http://www.dynamicdrive.com/dynamicindex1/anylinkcss.htm for full source code
      ***********************************************/

    %script{:type => "text/javascript"}
      //anylinkcssmenu.init("menu_anchors_class") ////Pass in the CSS class of anchor links (that contain a sub menu)
      anylinkcssmenu.init("anchorclass")

    = csrf_meta_tag
    = yield(:head)
  %body
    #header
      %h1= link_to "TeraTOX", root_path
      #menu
        %ul
          %li
            = link_to "Dossiers", dossiers_path
            - link_to_add_record("dossier", "N")
          %li
            = link_to "Correspondants", correspondants_path
            - link_to_add_record("correspondant", "C")
          %li
            = link_to "Produits", produits_path
            - link_to_add_record("produit", "P")
          = render :partial => 'shared/admin_menu'
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      #topbar
        %a{ :name => "top" }
        - if show_title?
          %h1= h yield(:title)
      #main
        = yield(:main) || yield
        %hr/
      #footer
        = debug(params) if Rails.env.development?
        = yield(:footer)

